.categories-section {
  // create 1400 max width and center the section
  position: relative;
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;

  .section-header {
    margin-bottom: 30px;
    font-size: 45px;
    text-align: left;
  }

  .section-description {
    margin-bottom: 30px;
    padding-right: 40px;
    text-align: left;
  }
}
