.offer-section-container {
  margin-top: 50px;
  .offers-section {
    margin-top: 9%;
    h1 {
      font-size: 4rem;
      line-height: normal;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-bottom: 2rem;
      font-weight: 300;
    }

    .offer-item {
      position: relative;
      width: 95%;
      height: 200px;
      border-radius: 24px;
      margin-bottom: 20px;
      background-color: #363636;
      padding: 0;
      z-index: 11;
      .offer-img {
        height: 100%;
        border-radius: 24px;
      }

      .offer-item-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color: #fff;

        .offer-item-header {
          margin-left: 200px;
          font-size: 1.5rem;
        }

        .seller-profile {
          position: absolute;
          left: 215px;
          bottom: 10px;
          display: flex;
          align-items: center;

          span {
            font-size: 1.2rem;
            font-weight: 400;
            margin-right: 10px;
          }
          .profile-pic {
            width: 45px;
            height: 45px;
            border-radius: 10px;
            margin-right: 10px;
          }
        }

        .contact-button {
          position: absolute;
          right: 10px;
          bottom: 10px;
          padding: 0.5rem 1rem;
          border-radius: 10px;
          background: linear-gradient(90deg, #ea580c 0%, #fb923c 100%);
          color: #fff;
          font-size: 1.2rem;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
  }

  // 1200px
  @media screen and (max-width: 1200px) {
    .offers-section {
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.3rem;
      }

      .offer-item {
        height: 160px;

        .offer-item-content {
          margin-left: 0;
          .offer-item-header {
            margin-left: 160px;
            font-size: 1.3rem;
          }
          .seller-profile {
            left: 175px;
            span {
              font-size: 1rem;
            }
            .profile-pic {
              width: 40px;
              height: 40px;
            }
          }
          .contact-button {
            font-size: 1rem;
          }
        }
      }
    }
  }

  // 1025px
  @media screen and (max-width: 1023px) {
    .offers-section {
      text-align: center;
      // margin-top: 0;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
      }

      .offer-item {
        height: 190px;
        width: 600px;

        margin: 20px auto;
        .offer-item-content {
          margin-left: 0;
          .offer-item-header {
            margin-left: 180px;
            font-size: 1.9rem;
          }
          .seller-profile {
            left: 210px;
            span {
              font-size: 1.3rem;
            }
            .profile-pic {
              width: 45px;
              height: 45px;
            }
          }
          .contact-button {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  // 768px
  @media screen and (max-width: 767px) {
    .offers-section {
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.1rem;
      }

      .offer-item {
        height: 150px;
        width: 500px;

        .offer-item-content {
          margin-left: 0;
          .offer-item-header {
            margin-left: 140px;
            font-size: 1.5rem;
          }
          .seller-profile {
            left: 160px;
            span {
              font-size: 1.1rem;
            }
            .profile-pic {
              width: 40px;
              height: 40px;
            }
          }
          .contact-button {
            font-size: 1rem;
          }
        }
      }
    }
  }

  // 568px
  @media screen and (max-width: 567px) {
    .offers-section-left {
      button {
        font-size: 1rem;
        padding: 10px 17px;
      }
    }
    .offers-section {
      h1 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1rem;
      }

      .offer-item {
        height: 110px;
        width: 330px;

        .offer-item-content {
          margin-left: 0;
          .offer-item-header {
            margin-left: 110px;
            margin-top: -5px;
            font-size: 1rem;
          }
          .seller-profile {
            left: 125px;
            span {
              display: none;
            }
            .profile-pic {
              width: 30px;
              height: 30px;
            }
          }
          .contact-button {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
