// design the home navbar withouthout changing sizeing, only change styleing

.home-navbar {
    position: relative;

    background-color: rgba(54, 54, 54);

    border-top: 0;
    border-radius: 0 0 10px 10px;
    z-index: 5;
    
    .dashboard-button {
        // create orange gradient
        // background: linear-gradient(90deg, #f49c42 0%, #ff5c01 100%);
        background-color: #f97316;
        border-radius: 15px;
        color: white;
    }

    .home-search-box {

        input {
            background-color: #1F1F1F;
            border-radius: 10px;
            color: white;
            border: 0;

            &:focus {
                outline: none;
            }


        }
    }
}